<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

            Thanks for subscribing to our newsletter! Your email is now confirmed!

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
